name: DevOps CI Pipeline

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    
    - name: Say Hello
      run: echo "Hello from CI!"

    - name: Show current path
      run: pwd

    - name: List files
      run: ls -la

    - name: Show date
      run: date
