name: DevOps CI Pipeline

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Say Hello
        run: echo "Hello from CI!"

      - name: Show current path
        run: pwd

      - name: List files
        run: ls -la

      - name: Create artifact file
        run: |
          echo "This pipeline ran successfully on $(date)" > result.txt
          echo "Results file created"

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: pipeline-result
          path: result.txt

      - name: Make script executable
        run: chmod +x .github/workflows/script.sh

      - name: Run script
        run: bash .github/workflows/script.sh
